<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Teamform</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="css/grayscale.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

	<!-- JavaScript of this page -->
	<!-- Customized libraries shared by pages -->
    <script src="js/site.js"></script>
	<!-- Angular and Angular-route libraries (v1.5.7) -->
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
    <script src="lib/firebase.js"></script>     
    <script src="lib/angularfire.min.js"></script>

    <script src="js/event_Page.js"></script>
	<script src="js/exploreTemp.js"></script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-app="teamform-event-app">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <!--<i class="fa fa-play-circle"></i> <span class="light">Start</span> Bootstrap-->
                    <!--profile-->
                    <a href="#contact" data-toggle="modal">
                        <div class="navbar-brand"><img src="profile/brown.png" height=400% data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                                aria-controls="collapseExample">
                        </div>
                    </a>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="tutorial.html">Tutorial</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="index.html">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="explore.html">Explore</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="login.html">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">

                <!--team inform-->
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class=" Event">
                            <div class="event-body" ng-controller="displayCtrl">
                                <div class="page-header">
                                    <h3>
                                        <a href="#EventMemList" data-toggle="modal">
                                            <small>Hosted by {{ownerDisplayName}}, Other members...</small>
                                        </a>
                                        {{eventName}}
                                        <small>posted time</small>
                                    </h3>
                                </div>
                                <img class="featuredImg" ng-src="{{param.imgURL!=null?param.imgURL:'img/team.jpg'}}" width="100%">
                                <p> {{param.description}}</p>
								<button type = "button" id = "joinButton" class="btn btn-default" ng-click="joinQuit()">Join This Event</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="team" ng-controller="displayCtrl">
        <a href="#team">
            <h1 class="text-center"> Formed teams</h1>
        </a>
        <div class="teamse">
            <div class="row" id = "teamInsert">
                <div class="col-md-4 text-center" ng-repeat = "x in team">
                    <h3 class="text-center"><a ng-href="team.html?e={{eventName}}&t={{x.$id}}">{{x.$id}}</a></h3>
                    <a class="thumbnail" ng-href="team.html?e={{eventName}}&t={{x.$id}}"> <img src="img/team.jpg"></a><br>
					 Preferred team size: <span class="badge">{{x.size}}</span> <br>
					 Current teamMember: <span class = "badge">{{x.teamMembers.length}}</span><br>
					 Current team members: <div ng-repeat = "member in x.teamMembers track by $index">{{member}}</div> <br>
					 Team Leader: {{x.leader}}<br>
					
                    <p class="text-center">{{$parent.memberDetail.joinedTeam ==x.$id?'This is your Team!!' : ''}}</p>
					<button type="button" class="btn btn-default btn-sendRequest" ng-click = "sendRequest(x.$id);" 
					ng-attr-id="{{'button-' +x.$id}}" ng-show = "$parent.memberDetail.joinedTeam===''">
					
					{{($parent.memberDetail.selection.indexOf(x.$id) == -1 ? 'Request' : 'Cancel Request')}}
					</button>
					<br><br><br>
                </div>
            </div>

        </div>
    </section>
    <!--bottom navbar-->
    <div class="navbar navbar-inverted navbar-fixed-bottom">
        <div class="container">
            <div class="dropup pull-right">
                <button class="btn btn-default btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <ul class="dropdown-menu">
                     <li><a href = "#addteam" data-toggle="modal"  class = "navbar-text"> Team </a></li>
                    <li><a href = "#addevent" data-toggle="modal" class = "navbar-text"> Event </a></li>

                </ul>
            </div>
        </div>
    </div>


	
	
    <div class="modal fade" id="contact">
        <!--<div class="modal-content">-->
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>


        <div class="container">
            <div class="col-xs-8 col-xs-offset-2">
                <center>
                    <!-- <div class="panel panel-default"><div class="panel-body">-->
                    <img class="fetureImg" src="profile/brown.png">

                    <h2> {Username} </h2>
                    <hr>
                    <h3> {Self-Intro}</h3>
                    <p> In order for assistive technologies – such as screen readers – to convey that a series of buttons is
                        grouped, an appropriate role attribute needs to be provided. For button groups, this would be role="group",
                        while toolbars should have a role="toolbar".One exception are groups which only contain a single
                        control (for instance the justified button groups with elements) or a dropdown. In addition, groups
                        and toolbars should be given an explicit label, as most assistive technologies will otherwise not
                        announce them, despite the presence of the correct role attribute. In the examples provided here,
                        we use aria-label, but alternatives such as aria-labelledby can also be used.

                    </p>
                </center>
            </div>
        </div>
    </div>
    <div class="modal fade" id="teamMem1">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-xs-8 col-xs-8 col-xs-offset-2">
                <center>
                    <img class="featureImg" src="profile/cony.png">
                    <h2> {Username-Team Member1} </h2>
                    <hr>
                    <h3> {Self-Intro}</h3>
                    <p> In order for assistive technologies – such as screen readers – to convey that a series of buttons is
                        grouped, an appropriate role attribute needs to be provided. For button groups, this would be role="group",
                        while toolbars should have a role="toolbar".One exception are groups which only contain a single
                        control (for instance the justified button groups with elements) or a dropdown.In addition, groups
                        and toolbars should be given an explicit label, as most assistive technologies will otherwise not
                        announce them, despite the presence of the correct role attribute. In the examples provided here,
                        we use aria-label, but alternatives such as aria-labelledby can also be used.
                    </p>
                </center>
            </div>
        </div>
    </div>
    <div class="modal fade" id="teamMem2">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-xs-8 col-xs-8 col-xs-offset-2">
                <center>
                    <img class="featureImg" src="profile/sally.png">
                    <h2> {Username-Team Member1} </h2>
                    <hr>
                    <h3> {Self-Intro}</h3>
                    <p> In order for assistive technologies – such as screen readers – to convey that a series of buttons is
                        grouped, an appropriate role attribute needs to be provided. For button groups, this would be role="group",
                        while toolbars should have a role="toolbar".One exception are groups which only contain a single
                        control (for instance the justified button groups with elements) or a dropdown.In addition, groups
                        and toolbars should be given an explicit label, as most assistive technologies will otherwise not
                        announce them, despite the presence of the correct role attribute. In the examples provided here,
                        we use aria-label, but alternatives such as aria-labelledby can also be used.
                    </p>
                </center>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="EventMemList">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="list-group">
            <a href="#teamMem1" class="list-group-item " data-toggle="modal">
                <h4 class="list-group-item-heading">Name</h4>
                <p class="list-group-item-text"> position of the team</p>
            </a>

            <a href="#teamMem2" class="list-group-item" data-toggle="modal">
                <h4 class="list-group-item-heading">Name</h4>
                <p class="list-group-item-text">position of the team</p>
            </a>
        </div>
    </div>
	
	<!--add team form-->
    <div class ="modal fade2" id ="addteam" role = "dialog">
        <div class = "modal-dialog" ng-controller="CEA_Team">
            <div class= "modal-content">
                <form class="Form-horizontal">
                <div class ="modal-header-addteam">
                <br><center><h3>Create a Team</h3></center>
                </div>
                <div class="modal-body-addteam">
                    <div class = "form-group">
                        <label for = "contact-name" class = "col-lg-3 control-lable">Team Name:</label>
                        <div class ="col-lg-9">
                            <input type = "text" class = "form-control" id = "contact-name" placeholder = "Enter your team name", ng-model="teamName"><br>
                    </div>
                </div>
               
                <div class = "form-group">
                        <label for = "contact-descrip" class = "col-lg-3 control-lable"> Team description:</label>
                        <div class ="col-lg-9">
                            <input type = "text" class = "form-control" id = "contact-descrip" placeholder = "Describe your team" ng-model = "teamdata.description"><br>
                    </div>
                  </div>
                   <div class="form-group">
					  <label for = "contact-size" class = "col-lg-3 control-lable"> Team Size:</label> 					  
					  <span>
						 <span class="badge"> {{teamdata.size}}</span>
						  
						 <button><span class="glyphicon glyphicon-plus" ng-click="changeCurrentTeamSize(1);"></span></button>

						  <button><span class="glyphicon glyphicon-minus" ng-click="changeCurrentTeamSize(-1);"></span></button>

						  
					   </span><br>
				   </div>
          


                </div>
                <div class ="modal-footer">
                    <a class ="btn btn-secondary" data-dismiss = "modal">Close </a>
                    <a class ="btn btn-default" data-dismiss = "modal" ng-click="createFunc()">Create </a>
            
                
                </div>
                </form>
                </div>
        </div>
    </div>
	<!-- add event form-->
    <div class ="modal fade3" id ="addevent" role = "dialog" ng-include = "'createEvent.html'">
	
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/grayscale.min.js"></script>


</body>

</html>